html, body {
    padding: 0px;
    margin: 0px;
}
.clear-float:after{
    content: "";
    display: block;
    clear: both;
}
#pdf-container {
    background-color: #CEC;
    position: relative;
    z-index: 0;
}
.page {
    width: 100%;
    /*height: 7000px;*/
}
.toolbar{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 2;
}
.toolbar > div{
    width: 10px;
    height: 10px;
    border: 3px solid #CCC;
    display: inline-block;
    padding: 5px;
}
.toolbar > div.select{
    border-style: inset;
}
.toolbar .cursor > div{
    background-image: url('../images/cursor.png');
    background-size: cover;
}
.toolbar > div + div > div{
    border: 1px solid green;
}
.toolbar > div > div{
    height: 100%;
    width: 100%;
}

.toolbar > .circle > div{
    border-radius: 50%;
}
.comment-section-hide {
    display: none;
}
.comment-section {
    min-width: 300px;
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #000;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
.comment-section.stick-to-top{
    top: -22px;
}
.comment-section.stick-to-top::after, .comment-section.stick-to-top::before{
    bottom: auto;
    top: 10px;
}
.comment-section-right.stick-to-top, .comment-section-right.stick-to-bottom{
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
}
.comment-section-left.stick-to-top, .comment-section-left.stick-to-bottom{
    transform: translate(-100%,0%);
    -webkit-transform: translate(-100%,0%);
    -moz-transform: translate(-100%,0%);
}
.comment-section.stick-to-top::after, .comment-section.stick-to-top::before,
.comment-section.stick-to-bottom::after, .comment-section.stick-to-bottom::before{
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
}
.comment-section.stick-to-top::after{
    margin-top: 3px;
}
.comment-section.stick-to-bottom{
    top: auto;
    bottom: -22px;
}
.comment-section.stick-to-bottom::after{
    bottom: 12px;
    top: auto;
}
.comment-section.stick-to-bottom::before{
    bottom: 10px;
    top: auto;
}
.comment-section-right{
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    left: 100%;
    margin-left: 14px;
}
.comment-section-left{
    transform: translate(-100%,-50%);
    -webkit-transform: translate(-100%,-50%);
    -moz-transform: translate(-100%,-50%);
    left: -14px;
}
.comment-section::before, .comment-section::after{
    content: "";
    position: absolute;
    bottom: 50%;
    width: 0px;
    height: 0px;
    border-style: solid;
    transform: translate(0%, 50%);
    -webkit-transform: translate(0%, 50%);
    -moz-transform: translate(0%, 50%);
}
.comment-section-right::after {
    right: 100%;
    border-width: 13px;
    border-color: transparent #eee transparent transparent;
}
.comment-section-right::before{
    right: 100%;
    border-width: 15px;
    border-color: transparent #000 transparent transparent;
    margin-top: 1px;
}
.comment-section-left::before{
    border-width: 15px;
    left: 100%;
    border-color: transparent transparent transparent #000;
    margin-top: 1px;
}
.comment-section-left::after{
    border-width: 13px;
    left: 100%;
    border-color: transparent transparent transparent #eee;   
}
.comment-section-wrapper{
    overflow: hidden;
}
.comment-heading {
    background-color: #EEE;
    padding: 2px;
}
.category {
    float: right;
}
.severity-section {
    float: left;
}
.severity-section .severity-item {
    width: 30px;
    height: 20px;
    float: left;
}
.severity-item {
    position: relative;
    cursor: pointer;
}
.s1 {
    background-color: red;
}
.s2 {
    background-color: orange;
}
.s3 {
    background-color: green;
}
.comment-text {
    width: 100%;
    height: 160px;
    border: none;
    padding: 0px;
    margin: 0px;
    resize: none;
    display: block;
}
.tick:after {
    content:"";
    width: 5px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shape {
    position: absolute;
    z-index: 3;
}
.shape-wrapper{
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}
.shape:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #80DEEA;
    opacity: 0.5;
}
.shape.circle:after {
    border-radius: 50%;
}
.area-bottom-right-resizer, .area-top-left-resizer, .area-top-right-resizer, .area-bottom-left-resizer{
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background-color: red;
    position: absolute;
    z-index: 1;
    display: none;
}
.area-bottom-right-resizer{
    right: -5px;
    bottom: -5px;
}
.area-top-right-resizer{
    top: -5px;
    right: -5px;
}
.area-top-left-resizer{
    top: -5px;
    left: -5px;
}
.area-bottom-left-resizer{
    bottom: -5px;
    left: -5px;
}
.area-top-right-resizer, .area-bottom-left-resizer{
    cursor: nesw-resize;
}
.area-bottom-right-resizer, .area-top-left-resizer{
    cursor: nwse-resize;
}
.shape-wrapper:hover .area-bottom-right-resizer,
.shape-wrapper:hover .area-top-right-resizer,
.shape-wrapper:hover .area-bottom-left-resizer,
.shape-wrapper:hover .area-top-left-resizer{
    display: block;
}
.resizer-section{
    display: none;
}